<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.andrecoelho.lunneapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MaisVendasApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CadastroProdutoActivity"></activity>
        <activity android:name=".CadastroEstoqueActivity" />
        <activity android:name=".CadastroVendedorActivity" />
        <activity android:name=".CadastroClienteActivity" />
        <activity android:name=".CadastroFormaActivity" />
        <activity
            android:name=".TelaVendedorActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".VendedorActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".TelaEstoqueActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".EstoqueActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".TelaFormaDePgtoActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".FormaDePgtoActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".TelaCoresActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".CorActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".ProdutosActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".ClientesActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TelaInicialActivity" />
        <activity
            android:name=".TelaClienteActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity android:name=".ConfigMainActivity" />
        <activity android:name=".TelaCadastroActivity" />
        <activity
            android:name=".TelaProdutosActivity"
            android:theme="@style/AppTheme.Toolbar" />
    </application>

</manifest>